PORT=5173
QWEN_API_KEY=your_dashscope_api_key_here
QWEN_MODEL=qwen-plus
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_TIMEOUT_MS=60000
QWEN_SLOW_MODEL_TIMEOUT_MS=240000
QWEN_MAX_TOKENS=1200
QWEN_FILE_CHAR_LIMIT=6000
